/cabinet/node_modules/
/nuxt-shop/node_modules/
/cabinet/.nuxt/
/nuxt-shop/.nuxt/
/cabinet/.output/
/nuxt-shop/.output/
/cabinet/dist/
/nuxt-shop/dist/
/.tmp/
/node_modules/
npm-debug.log*
*.local
.DS_Store
